asgiref==3.8.1 ; python_version >= "3.11"
django-cors-headers==4.7.0 ; python_version >= "3.11"
django==5.1.6 ; python_version >= "3.11"
djangorestframework-simplejwt==5.4.0 ; python_version >= "3.11"
djangorestframework==3.15.2 ; python_version >= "3.11"
psycopg2-binary==2.9.10 ; python_version >= "3.11"
pyjwt==2.10.1 ; python_version >= "3.11"
python-dotenv==1.0.1 ; python_version >= "3.11"
pytz==2025.1 ; python_version >= "3.11"
sqlparse==0.5.3 ; python_version >= "3.11"
tzdata==2025.1 ; python_version >= "3.11" and sys_platform == "win32"
